---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Shortly URL shortening API Challenge">
  <!-- THE HEADER -->
  <Header />
  <main></main>
</Layout>

<style></style>
